{% extends "base.html" %} {% block title %} {% if form.instance.pk %}Edit Book{%
else %}Add Book{% endif %} {% endblock %} {% block content %}
<div class="book_content">
  <form class="form" method="post">
    <h1 class="page_title">
      {% if form.instance.pk %}Edit Book: {{ form.instance.title }}{% else %}Add
      New Book{% endif %}
    </h1>
    {% csrf_token %} {{ form.as_p }}
    <button class="submit" type="submit">Save</button>
    <a class="cancell" href="{% url 'books_list' %}">Cancel</a>
  </form>
</div>
{% endblock %}
